.experience_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}
.experience_container > div {
	background-color: var(--color-bg-variant);
	padding: 2.4rem 5rem;
	border-radius: 1rem;
	border: 1px solid transparent;
	transition: var(--transition);
}
.experience_container > div:hover {
	background: transparent;
	/* border: 1px solid var(--color-bg-variant); */
	cursor: default;
}
.experience_container > div > h3 {
	text-align: center;
	color: var(--color-primary);
	margin-bottom: 2rem;
	font-size: x-large;
}
.experience_content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 2rem;
}
.experience_details {
	display: flex;
	gap: 1rem;
}
.experience_details .fab,
.experience_details .fas {
	margin-top: 0.5rem;
}
.container.slider {
	margin-top: 5rem;
}

@media (max-width: 768px) {
	.experience_container {
		grid-template-columns: 1fr;
	}
	.experience_container > div {
		width: 80%;
		padding: 2.4rem 1rem;
		margin: 0 auto;
	}
	.experience_content {
		padding: 1rem;
		padding-left: 4rem;
	}
}
@media (max-width: 576px) {
	.experience_container {
		gap: 1rem;
	}
	.experience_container > div {
		width: 100%;
		padding: 2rem 1rem;
	}
	.experience_content {
		padding: 1rem;
	}
}
